.ic-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ic-loading .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FF6C40;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ic-nav-item-wrapper.icon-active .ic_menubar_item:before {
    transform: translateY(-50%) rotate(45deg) !important;
}